@font-face {
  font-family: "iconfont"; /* Project id 4447343 */
  src: url('iconfont.woff2?t=1736477148134') format('woff2'),
       url('iconfont.woff?t=1736477148134') format('woff'),
       url('iconfont.ttf?t=1736477148134') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zew-yueliang:before {
  content: "\e61d";
}

.zew-taiyang:before {
  content: "\e68a";
}

.zew-github:before {
  content: "\e799";
}

.zew-rss:before {
  content: "\e808";
}

.zew-bilibili:before {
  content: "\e768";
}

.zew-tiaojie:before {
  content: "\e6bd";
}

.zew-shuju:before {
  content: "\e6be";
}

.zew-kaiguan:before {
  content: "\e6bf";
}

.zew-shuaxin:before {
  content: "\e6c0";
}

.zew-lianjie:before {
  content: "\e6c1";
}

.zew-xiazai:before {
  content: "\e6c2";
}

.zew-pinglun:before {
  content: "\e6c4";
}

.zew-zhuye:before {
  content: "\e6c5";
}

.zew-duoyuyan:before {
  content: "\e6ec";
}

.zew-qiehuanfanti:before {
  content: "\e6ed";
}

.zew-yunpan:before {
  content: "\e6ee";
}

.zew-AI:before {
  content: "\e6ef";
}

.zew-shezhi1-copy:before {
  content: "\e6f0";
}

.zew-faxian:before {
  content: "\e6dc";
}

.zew-biaoqing:before {
  content: "\e6dd";
}

.zew-dianying:before {
  content: "\e6de";
}

.zew-aixin:before {
  content: "\e6df";
}

.zew-dianzan:before {
  content: "\e6e0";
}

.zew-pengyouquan:before {
  content: "\e6e1";
}

.zew-lianxiren:before {
  content: "\e6e2";
}

.zew-shoucang:before {
  content: "\e6e3";
}

.zew-tianqi:before {
  content: "\e6e4";
}

.zew-sousuo:before {
  content: "\e6e5";
}

.zew-xiaoxi:before {
  content: "\e6f1";
}

.zew-tianjia:before {
  content: "\e6e7";
}

.zew-xinxi:before {
  content: "\e6e9";
}

.zew-tupian:before {
  content: "\e6ea";
}

